/* regole reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  max-width: 700px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.col-30 {
  width: 30%;
  margin: 0, 16px;
}

.col-100 {
  width: 100%;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* / regole reset */

/* sezione titolo e paragrafo */

.card-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title-page {
  color: red;
  font-size: medium;
  font-weight: 600;
  margin: 16px, 0;
}

#text-page {
  margin: 16px, 0;
}
/* sezione tabella con 3 card dei membri */
.card-body {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-member {
  width: 50px;
  margin-right: 8px;
}
.informations {
  color: white;
}
.name-member {
  font-size: medium;
  font-weight: 600;
}
.job-member {
  font-size: small;
  font-weight: 300;
}
.link-member {
  color: lightskyblue;
}
